<section class="progress-stats">
  <div class="completed">
    <article class="complete-stats">
      <figure class="icon">
        <img
          src="./assets/images/progress-completed-check-icon.svg"
          alt="Completed icon"
        />
      </figure>
      <div class="stats">
        <p class="percentage">{{ completedPercentage }}%</p>
        <p class="description">Completed tasks</p>
      </div>
    </article>
  </div>
  <div class="active">
    <article class="active-stats">
      <figure class="icon">
        <img
          src="./assets/images/active-task-stats-icon.svg"
          alt="Active icon"
        />
      </figure>
      <div class="stats">
        <p class="percentage">{{ activePercentage }}%</p>
        <p class="description">Active tasks</p>
      </div>
    </article>
  </div>
</section>
